<form  class="example-form"(ngSubmit)="selectChangeCountry($event)" >
  <mat-label>List of Countries:- </mat-label>
  <mat-form-field class="example-full-width" appearance="fill">
    <input matInput type="text" formControlName="country"  placeholder="Search for a country" [formControl]="control" [matAutocomplete]="auto"
      value="">

    <mat-autocomplete #auto="matAutocomplete">
      <mat-option #box *ngFor="let item of options " [value]="item"  >
        {{item}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button routerLink='{{selectedcountry}}'>click</button>
</form>



<!--  -->